<nav class="navbar navbar-default navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Recipe Book</a>
      <button
        type="button"
        class="navbar-toggler"
        (click)="navbarCollapsed = !navbarCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="navbar-collapse"
      [class.collapse]="navbarCollapsed"
      (window:resize)="navbarCollapsed = true"
    >
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="nav-link dropdown-toggle" role="button"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a class="m-2">Save Data</a></li>
            <li><a class="m-2">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
