<div class="row">
  <div class="col-12">
    <img [src]="recipe.imageUrl" [alt]="recipe.name" class="image-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group dropdown col-12 pl-0" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle col-6 pull-left">
        Manage Recipe<span class="caret"></span>
      </button>
      <ul class="dropdown-menu w-100">
        <li><a class="m-3" (click)="onAddIngredientsToShoppingListEventHandler()">Add Ingredients to Shopping List</a></li>
        <li><a class="m-3" routerLink="edit">Edit Recipe</a></li>
        <li><a class="m-3">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
